.main{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.active{
  color: blue;
  text-decoration: solid underline red 5px;

}
.not-active{
  color: "black";
  background-color: "white";
}
