.container{
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: auto;
  grid-template-rows: 1fr 5fr;
  margin: 30px;
  box-sizing: border-box;
}
.container > h1{
  border: 2px solid red;
  text-align: center;
  padding: 20px;
  width: 90%;
}
.container .row{
  border: 2px solid blue;
  width: 90%;
  padding: 20px;
  display: grid;
  grid-template-columns: 2fr 5fr;
  gap: 20px;

}
.row .item1{
  border: 2px solid red;
}
.row .item2{
  border: 2px solid red;
}
.nav{
  background-color: #6baae8;
  padding: 15px;
  border: none;
  border-radius: 20;
}
.nav-section li{
  background-color: #2cd8bc;
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 20px;
  list-style: none;
  text-align: center;
  width: 80%;
  cursor: pointer;
}
.inbox{
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 2fr 3fr;
  background-color: #6baae8;
  padding: 40px;
  border-radius: 20px;
  height: 50vh;
}
.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form input{
 
  padding: 20px;
  border-radius: 20px;
}
.btn{
  background-color: aquamarine;
  padding: 20px;
  border: none;
  border-radius: 20px;
  margin: 10px;
}
.inner-items li{
  font-size: 25px;
 
  padding: 5px;

}